* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.text {
    position: absolute;
    top: 1%;
    right: 78%;
    width: 250px;
    padding: 20px;
    border-radius: 4px;
    background: #000000bf;
    border: 1px solid #ffffff77;
    color: #ffffff;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    transition: opacity 0.3s;
}